<!DOCTYPE html>
<html>
<head>
	<title>Eco-Tracker Goals</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/ecopage.css" rel="stylesheet">
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/editgoal.js"></script>
</head>
  <style>
      img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    body{
    	  background-image: url('tipBackground.png');
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-position: center;
		  background-size: 100% 100%;
		  width: 100%;
    }
  </style>
<body>
	<nav style="background-color:#6FBF5F" class="navbar navbar-expand navbar-light justify-content-center  fixed-top">
		<ul class="navbar-nav">
			<img src="logo.png" style="width:200px;height:40px;">
		</ul>
	</nav>
<br>
	<div class="jumbotron">
		<br>
		<h3 class="text-center">Goals<img src="addButton.png" style="float:right;width:70px;height:70px"
			class="open-button" onclick="openForm()"/> </h3>
	</div>

	<div class = "container">
	{{#each goals}}
		<div class="card bg-light mb-2" style="border-color:#6FBF5F">
			<div class="card-header" style="background-color: #6FBF5F">
			</div>
			<div class="card-body" id="cardBody">
			<h5 class="card-title">{{goalCat}}</h5>
			<p class="card-text"><span id="{{id}}-goalText">{{goalText}}</span>
				<br>
			<a href="#" class="btn-right" data-toggle="modal" data-target="#editModal" onclick="onEdit({{id}});">edit goal</a>
			<br>
		<input id="boxid" type="checkbox"><label for="boxid">Mark as Complete</label>
		</div>
	</div>
		<br>
	{{/each}}
	</div>

	<br>
</body>

<!--Modal for Edit-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Edit Your Goal</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form id="editGoalForm">
				    <div class="form-group">
				      <input type="text" class="form-control" id="edit-goalText" name="goalText">
				    </div>
		      </div>
		      <div class="modal-footer">
		      	<button id="delete-id" type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteGoal()">Remove</button>
		        <button type="submit" class="btn btn-primary">Save</button>
		      </div>
		      </form>
		    </div>
		  </div>
		</div>

<!--Modal for Add-->
<div class="form-popup" id="myForm">
		<form id="addGoalForm" role="form" method="get" action="/addgoal"class="form-container">
		  <div class="form-group">
				<h1>Add Goal</h1>
		    <label for="formGroupExampleInput">Category</label>
				<select class="form-control" name="goalCat">
					<option>Commute</option>
					<option>Food</option>
					<option>Waste</option>
				</select>
		  </div>
		  <div class="form-group">
		    <label for="formGroupExampleInput2">Goal</label>
		    <input type="text" class="form-control" name="goalText" placeholder="I want to ...">
		  </div>
		  <input type="submit" id="submitBtn" class="btn btn-primary" value="Add Goal"></input>
			<button type="button" class="btn btn-danger" onclick="closeForm()">Close</button>
		</form>
  </form>
</div>
<br>
<br>
<br>
<br>
<br>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script>
$("input[type='checkbox']").change(function(){
    if($(this).is(":checked")){
        $(this).parent().addClass("greenBackground"); 
    }else{
        $(this).parent().removeClass("greenBackground");  
    }
});

$('#boxid').click(function() {
  if ($(this).is(':checked')) {
    $(this).siblings('label').html('Goal Completed!');
  } else {
    $(this).siblings('label').html('Mark as Complete');
  }
});
			function openForm() {
			  document.getElementById("myForm").style.display = "block";
			}

			function closeForm() {
			  document.getElementById("myForm").style.display = "none";
			}
			function deleteGoal() {
			   //document.getElementById("{{id}}-goalText").style.display = "none";
			}
			function change()
			{
			    var elem = document.getElementById("myButton1");
			    if (elem.value=="Goal Accomplished!") elem.value = "In Progress";
			    else elem.value = "Goal Accomplished!";
			}
				</script>
</body>
{{> navbar}}
</html>
